/*font-family: 'Nunito', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

body{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.hero-container{
  background: url("./img/hero.png") no-repeat center;
  height: 265px;
  padding: 47px 0;
  margin-bottom: 100px;
  margin-top: 135px;
}

.hero-title{
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  text-align: center;

  color: #FFFFFF;
}

.hero-text{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;

  color: #FFFFFF;
}

.image-desc{
  display: inline-block;
  width: 50%;
}



.nav-container{
  padding: 48px 62px;
}

.nav-list{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.footer-container{
  background-color: #F9F7FE;
  padding: 38px 20px;
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list li{
  margin-right: 30px;
}

.social-list li:nth-child(3n){
  margin-right: 0;
}

.inner-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .hero-title{
    font-size: 44px;
    line-height: 70px;
  }

  .hero-text{
    font-size: 18px;
    line-height: 30px;
  }

  .hero-container{
    margin-bottom: 50px;
  }

  .inner-footer-container{
    display: block;
    text-align: center;
  }

  .social-list{
    padding: 0;
    margin: 20px 0;
  }


}



.about-title{
  text-align: center;
  margin-top: 170px;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;

  margin-bottom: 126px;
}

.title-name{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;

  font-size: 64px;
  line-height: 87px;

  margin-bottom: 36px;
}

.about-me-description{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  margin-bottom: 52px;
}

ul{
  list-style: none;

  margin: 0;
  padding: 0;
}

.about-recipe-list{
  margin-bottom: 100px;
}

.list-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

}

.about-recipe-title{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 41px;
}

.about-recipe-item-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.about-recipe-item-text{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 900px) {
  .about-title{
    margin-top: 250px;
    margin-bottom: 70px;
  }

  .about-recipe-list li{
    text-align: center;
  }
}


.recipe-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;

  text-align: left;
}

.recipe-list-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.stylish-border{
  border-bottom: 1px dashed #67D5D2
}

.recipe-step{
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #F65282;
}

.recipe-text-description{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.recipe-item-margin{
  margin-bottom: 100px;
}

.contact-title{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #662EED;
}

.contact-link{
  text-decoration: none;
  outline: none;

  color: #272142;

  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.contact-container{
  margin-bottom: 100px;
}